################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PurenailCore/.vs/PurenailCore
/.vs
/packages
/UnitTests/bin
/UnitTests/obj
/UnitTests/Properties/AssemblyInfo.cs


